/* FORMULÁRIO - ORCAMENTO  */

.contato-form {
	margin: 50px auto;
	position: relative;
	left: 198px;

}
.contato-form label {
	display: block;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.125em;
	line-height: 1.562em;
	margin-bottom: 5px;
	color: #11425d;
}

.contato-form input {
	display: block;
	width: 100%;
	border: 2px solid#fca815;
	border-radius: 10px;
	background: none;
	padding: 7px 10px;
	margin-bottom: 10px;
	outline: none;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", serif;
}


.contato-form textarea {
	display: block;
	width: 100%;
	height: 120px;
	border: 2px solid #fca815;
	background: none;
	padding: 7px 10px;
	margin-bottom: 20px;
	border-radius: 10px;
	outline: none;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", serif;
}

.contato-form button {
	padding: 7px 40px;
	background: #fff;
}

.btn-contato {
	border-radius: 10px;
	border: 2px solid #fca915;
	padding: 10px 20px;
	color: #fca915;
	font-size: 1em;
	line-height: 1.25em;
	float: right;
}

.btn-contato:hover{
	border-color: #11425d;
	color:  #11425d;

	transition: all .5s ease; /* animação do botão */
}

