
.voltar-link {
	color: #B84949;
	border-radius: 10px;
	border: 1px solid #fca915;
	padding: 10px 20px;
	color: #fca915;
	font-size: 1em;
	line-height: 1.25em;
	transition: all .5s ease; /* animação do botão */
}

.voltar-link:hover, {
	 color:#11425d;
	 border: 1px solid #11425d;
}

.btn-curriculo {
	text-align: center;
	padding: 10px;
}


.btn-top span a{
	border: 1px solid #fca915;
	padding: 10px;
	cursor: pointer;
	transition: all .5s ease; /* animação do botão */
	position: relative;
	left: 57.5%;
}
.btn-top span a:hover {
	 color:#11425d;
	 border: 2px solid #11425d;
}


.cv-main{
	border-bottom: 1px solid #f2f2f2;
}

.cv-img {
	border-radius: 10px;
	margin: 50px auto 0 auto;

}
.cv-sobre {
	animation-name: conteudo;
	animation-duration: 3s;
	margin: 94px auto 50px 50px;

}

.cv-sobre h2, .cv-interesse h2{
	animation-name: conteudo;
	animation-duration: 3s;
	font-size: 2em;
	color: #11425d;
		
}

.cv-sobre h2:after {
	content: "";
	display: block;
	width: 695px;
	height: 1px;
	background: #f2f2f2;
	margin: 5px auto 0px -50px;
}

.cv-sobre p{
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.125em;
	line-height: 1.3em;
	text-transform: none;
	font-weight: 100px;
	color: #545454;
	margin-top: 15px;
}


.cv-interesse h2 {
	margin: 50px auto;
	width: 270px;
	padding: 15px 30px;
	border: 2px solid #fca915;
	border-radius: 15px;
	font-size: 1.5em;
}

.cv-interesse:after {
	content:"";
	width: 100%;
	height: 83px;
	display: block;
	background: url("../img/linhas.png") no-repeat center;
	position: absolute;
	top: 80px;
	right: auto;
}

.cv-interesse-lista {
	padding-top: 20px;
	overflow: auto; /* CLEAR-FIX */
}

.cv-interesse-lista li {
	text-align: center;
	padding: 0 40px;
}

.cv-interesse-lista p{
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1em;
	line-height: 1.25em;
	text-transform: none;
	font-weight: 100px;
	color: #545454;
	margin-top: 15px;
}

.cv-interesse-lista li h3 {
	font-weight: 500;
	font-size: 1.125em;
	line-height: 1.562px;
	letter-spacing: .1em;
	margin: 0 20px;
	color: #11425d;

}

.cv-interesse-lista li h3:after {
	content: "";
	display: block;
	width: 40px;
	height: 2px;
	background: #fca915;
	margin: 20px auto 10px auto;
}


.cv-academica{
	margin-top: 50px;
	padding-bottom: 50px;
	border-top: 2px solid  #f2f2f2;
	border-bottom: 2px solid  #f2f2f2; 
}

.cv-academica-lista, .cv-experiencia-lista{
	margin-top: 15px;
}

.cv-icon img {
	transition: 1s;
	border-radius: 15px;
	text-align: center;
	padding: 50px;
	margin-top: 50px;
	margin-left: 30px;
}

.cv-icon h2{
	margin: 10px 0;
	font-size: 2em;
	color: #11425d;
	text-align: center;

}

.cv-icon h2::after, .cv-icon h2::before  {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: #fca915;
	margin: 10px auto;
}


.cv-img:hover {
	background-color: #11425d;	
	opacity: 0.6;
	transition: 1s;
}

.cv-info {
	margin: 30px 0 0 50px ;


}

.cv-info span {
	font-size: 0.75em;
	color: #545454;
} 


.cv-info h2 {	
	font-size: 1.25em;
	color: #11425d;
	line-height: 1.562em;
}

.cv-info h3{	
	font-size: 1em;
	color: #11425d;
}

.cv-info p {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.125em;
	text-transform: none;
	color:  #fca915;
}


.cv-extracurricular{
	margin: 50px 0;
	border-top: 2px solid  #f2f2f2;
}

.cv-competencias{
	margin: 50px 0;
	border-top: 2px solid  #f2f2f2;
	border-bottom: 2px solid  #f2f2f2;
	padding: 50px;

}


.cv-competencias li{	
	margin: 15px 0;	
	border-radius: 0px 15px 15px 0px;

}

.cv-competencias span {
	font-size: 1em;
	line-height: 1.562em;
	text-transform: uppercase;
	letter-spacing: 1px;
	color:#525252;
	margin: 0;
	transition: .4s ease-in-out;
	z-index: 1;
}

.cv-competencias-lista h3, .cv-competencias-lista-2 h3{
	font-size: 1.125em;
	color: #fca915;
}

.cv-competencias-lista-2 {
	margin-left: 10px;
}


.cv-ill::before, .cv-pho::before, .cv-after:before, .cv-prem:before, .cv-xd:before, .cv-3d:before, .cv-auto:before, .cv-html-css:before, .cv-java:before, .cv-micro:before, .cv-org:before, .cv-atv:before, .cv-cpm:before, .cv-equip:before, .cv-port:before, .cv-ing:before {
	content: "";
	display: block;
	width: 15px;
	height:15px;
	border:1px solid  #11425d;
	border-radius: 15px;
	background:  #11425d;
	left: 210px;	
	top: 38px;
	position: absolute;
}
.cv-ill:before{
	box-shadow: 2em 0  #11425d, 4em 0  #11425d, 6em 0  #11425d,  8em 0  #11425d;

}

.cv-pho:before, .cv-after:before, .cv-prem:before, .cv-auto:before{
	top: 76px;
	box-shadow: 2em 0  #11425d, 4em 0  #11425d, 6em 0 #c4c4c4, 8em 0 #c4c4c4;

}

.cv-after:before{
	top: 116px;
}
 .cv-prem:before{
 	top: 156px;
 }
 .cv-xd:before, .cv-html-css:before, .cv-3d:before{
 	top: 196px;
 		box-shadow: 2em 0  #11425d, 4em 0  #11425d, 6em 0  #11425d, 8em 0 #c4c4c4;
 }
.cv-3d:before{
	top: 235px;

}

 .cv-auto:before{
 	top: 273px;
 } 

 .cv-html-css:before{
 	top: 312px;
 }

 .cv-java:before{
 	top: 352px;
 	box-shadow: 2em 0  #11425d,  4em 0  #c4c4c4, 6em 0  #c4c4c4, 8em 0 #c4c4c4;
}

.cv-micro:before{
	top: 390px;
	box-shadow: 2em 0  #11425d, 4em 0  #11425d, 6em 0  #11425d,  8em 0  #11425d;
}

 .cv-org:before, .cv-atv:before, .cv-cpm:before, .cv-equip:before, .cv-port:before, .cv-ing:before, .cv-port:before, .cv-ing:before	{
 	left: 605px;
 	box-shadow: 2em 0  #11425d, 4em 0  #11425d, 6em 0  #11425d,  8em 0  #11425d;	

 }
 .cv-org:before{
	top: 38px;
	
 } 
 .cv-atv:before{
 	top: 76px;
 	

 }

 .cv-cpm:before{
 	top: 116px;
 	

 }
 .cv-equip:before{
  		top: 156px;
 


  }
  .cv-port:before{
  	top: 249px;

 }

 .cv-ing:before{
  	top: 288px;
  	box-shadow: 2em 0  #11425d, 4em 0  #11425d, 6em 0  #c4c4c4, 8em 0 #c4c4c4;
	
}
