@import 'geral';
@import 'resets';
@import 'variaveis_e_mixins';

.container {
	align-items: center;
	justify-content: center;
	max-width: 1280px;
}

//Cabeçalho
.cabecalho {
	@include flex;
	justify-content: space-between;
	align-items: center;
	&__logo{
		@include flex;
		justify-content: left;
		padding: 20px;
		font-size: 1.375em;
		color: $corSuporte2;
	}
	&__contato {
		padding: 10px 20px;
		margin: 0 20px;
		border: 1px solid $corSecundaria;
		color: $corPrincipal;
		border-radius: $radius;
		&:hover {
			background-color: $corSecundaria;
			color: $corSuporte;
		}

	}
}

//main
.main {
	
	padding: 60px 10px;
	background-color: $corPrincipal;
	margin: 0 20px;
	height: auto;
	border-radius: $radius;
	&__introducao {
		@include flex;
	}
	&__resumo {
		margin: 10px;
	}
}

.seta-r {
  &.seta-r:after {
    content: "\2192";
    padding-left: 5px;
  }
}










.introducao {
	&__titulo {
		color: $corSuporte;
		font-size: 2.25em;	
		text-align: center;
		letter-spacing: .1em;
		&:after {
			@include pseudo;
			height: 10px;
		}
	}
	&__texto {
		color: $corSuporte;
		margin: 20px 0;
		display: block;
		border: 1px solid #f2f2f2;
		padding: 15px;
		box-shadow: $shadow;
		border-radius: $radius;
	}
}

.main {
	&__redes {
		@include flex;
		justify-content: center;
	}
}

.resumo {
	&__link {
		color: $corSuporte;
		padding: 3px;
		font-size: 1.375em;
		&:after {
			@include pseudoArrow;
			height: 8px;
			width: 8px;
			border-width: 2px 2px 0 0;
			transform: rotate(45deg);
			position: relative;
			left: 210px;
			top: -17px;
		}
		&:before {
			@include pseudoArrow;
			height: 5px;
			width: 5px;
			border-width: 1px 1px 0 0;	
			left: 207px;
			top: 14px;
		}
		&:hover {
			color: $corSecundaria;
		}
	}

}



.redes {
	&__item {
		color: $corSuporte;
		padding: 5px;
		font-size: 14px;
		&:hover {
			background-color: $corSecundaria;
		}

	}
}




